In [7]:
import tweepy
import pandas as pd
from nltk.corpus import stopwords
import numpy as np
import pandas as pd
import string
import nltk
from sklearn import preprocessing
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.model_selection import train_test_split
from nltk.corpus import stopwords
from nltk.stem.snowball import SnowballStemmer
from matplotlib import pyplot as plt

In [8]:
consumer_key = 'YD2IYQBUYAfOvUc749Xu5ohpY'
consumer_secret = 'NRYIoFUjQkL4AaEZafS0KG1XyOUosWcw8O5adag8B5DWKaL2gM'

access_token = '710411191672156160-VhQuBbpbHXzp40DuVM69DzsRk2iv8QK'
access_secret = 'ba2MXjKHnjmLXQQZdAlhfhezh9fGUYYBvZT9ehtmsyyMW'

In [9]:
auth = tweepy.OAuthHandler(consumer_key , consumer_secret)
auth.set_access_token(access_token , access_secret)

api = tweepy.API(auth)

In [10]:
tweets = api.search('#HappyBirthdayAK' , count=20)
len(tweets)

9

In [11]:
tweets_df = pd.DataFrame()
for tweet in tweets:
    #print(tweet.user.location)
    #print(tweet.created_at)
    #print(tweet.user.name)
    #print(tweet.user.screen_name)
    #print(tweet.user.friends_count)
    #print(tweet.user.descriptionon)
    curr_tweet = {
        'display_name':tweet.user.name,
        'handler_name':tweet.user.screen_name,
        'text':tweet.text,
        'created_at':tweet.created_at,
        'followers':tweet.user.followers_count,
        'friends':tweet.user.friends_count,
        'location':tweet.user.location,
        'likes':tweet.favorite_count,
        'retweets':tweet.retweet_count
    }
    tweets_df = tweets_df.append(curr_tweet,ignore_index=True)
    
tweets_df

,created_at,display_name,followers,friends,handler_name,likes,location,retweets,text
0,2019-09-30 06:06:23,Vijayment ツ,141.0,130.0,vijayment,0.0,"Colorado, USA",104.0,RT @ShankerSsaumya: Just like Gotham City has ...
1,2019-09-29 09:31:16,Akshay,4.0,45.0,Akshay17078387,0.0,,10.0,RT @paapdelhi: गिरगिट से भी तेज रंग बदलने वाले...
2,2019-09-28 17:04:16,LESLEY ALEX,23.0,289.0,LESLEYALEX86,0.0,,66.0,RT @Spandan911: My mom was really inspired by ...
3,2019-09-27 09:28:36,Salam,9.0,24.0,Salam98896180,0.0,"हावड़ा, भारत",5.0,RT @SharmaSaurav7: जो पानी में भींगता है वो ल...
4,2019-09-27 06:44:55,Ekta Singh,1.0,65.0,EktaSin561,0.0,,21.0,"RT @Kushalsinghaap: गरीबी, अशिक्षा और शोषण को ..."
5,2019-09-27 03:30:45,Chowkidar Vinay Kumar Chauhan,1244.0,561.0,vinaykch_bjym,0.0,"Bikaner, India",10.0,RT @paapdelhi: गिरगिट से भी तेज रंग बदलने वाले...
6,2019-09-23 05:59:46,Danieal Swaroopa,3.0,8.0,DaniealSwaroopa,0.0,,5.0,RT @MahinderMTech: HappyBirthday to Honourabl...
7,2019-09-22 04:59:36,S S,73.0,171.0,VedicSatyaki,0.0,India,73.0,RT @PoliticalKida: Birthday wishes to @ArvindK...
8,2019-09-21 13:18:46,Anuj Dubey,128.0,134.0,AnujDub61593658,0.0,,4.0,RT @AryanRaj2179: #HappyBirthdayAK https://t.c...

In [10]:
text = tweets_df[['text']]
print(text['text'][0])

RT @Amitjanhit: अपने जन्मदिन पर @ArvindKejriwal ने कार्यकर्ताओं से आव्हान किया-

"पिछली बार 67 सीट आयी थीं, इस बार 3 भी नहीं छोड़नी"

#Happ…

In [11]:
text['Clean_text'] = text['text'].str.lower().str.replace('[^a-z ]', '')
print(text['Clean_text'][0])

rt amitjanhit    arvindkejriwal                happ

C:\Users\anura\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [12]:
stop = set(stopwords.words('english'))

def sw(text):
    text = [word for word in text.split() if word not in stop]
    return " ".join(text)

text['Split_words'] = text['Clean_text'].apply(sw)

print(text['Split_words'][0])

rt amitjanhit arvindkejriwal happ

C:\Users\anura\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [13]:
# Creating the count Vectorizer

bigram_count_vect = CountVectorizer(ngram_range=(2,2))

# Fitting the count vect on split words

bigram_count_vect.fit(text['Split_words'])

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(2, 2), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [14]:
# DTM

Z = bigram_count_vect.fit_transform(text['Split_words'])

Z

<100x369 sparse matrix of type '<class 'numpy.int64'>'
	with 640 stored elements in Compressed Sparse Row format>

In [15]:
# DTM as a matrix 

DTM_bigram = pd.DataFrame(Z.toarray(),columns=bigram_count_vect.get_feature_names())

DTM_bigram.head()

,aamaadmiparty upsilk,aap arvindkejriwal,aapexpress happybirthdayak,aapko sadbhuddhi,aaprajasthan aap,abhishekjayhind arvindkejriwal,actor better,adityadassatlok antihinduagendaofbollywood,ajeetsaini happybirthdayak,also httpstcojwbaafuve,...,wishing arvindkejriwal,wishing happy,without means,wonderful brilliant,work enjoy,work put,world blessings,world group,yamunatime drown,year month
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
# Create a Frequency table  from the DTM

word_count_freq_bigram = DTM_bigram.sum()
word_count_freq_bigram

# Convert this into a Dataframe

word_table_bigram = pd.DataFrame(word_count_freq_bigram).reset_index()

word_table_bigram = word_table_bigram.rename(columns = {'index': 'Word' , 0 : 'Count'})

word_table_bigram.sort_values(by= 'Count', ascending =False).head()

                                           Word  Count
337                        unsc happybirthdayak     18
196             meribiggestpayment sacredgamess     17
124  happybirthdayak antihinduagendaofbollywood     17
284                           sacredgamess unsc     17
18       antihinduagendaofbollywood siimaawards     17